Repository xnd-project/rbc, pull requests merged in 2020-10, with the labels that each got.

#195 Support multiple columns in a single cursor argument of a UDTF.
  rbc/omnisci_backend/omnisci_column.py
  rbc/omniscidb.py
  rbc/remotejit.py
  rbc/tests/test_omnisci_column_basic.py
  rbc/typesystem.py
Labels: enhancement, high-priority, omniscidb

#199 Tests for table function overload/redefine support
  rbc/libcudart_ctypes.py
  rbc/tests/test_libcudart_ctypes.py
  rbc/tests/test_omnisci_column_basic.py
Labels: enhancement, omniscidb

#198 Add libdevice to omniscidb
  rbc/irtools.py
  rbc/omniscidb.py
  rbc/tests/test_omnisci_math.py
  setup.cfg
Labels: bug, enhancement, omniscidb

#201 Support Constant and ConstantParameter sizers
  rbc/irtools.py
  rbc/omniscidb.py
  rbc/remotejit.py
  rbc/tests/test_omnisci_column_basic.py
  rbc/tests/test_omnisci_math.py
  rbc/typesystem.py
Labels: high-priority

#206 Eliminate dependency on pymapd
  rbc/omniscidb.py
Labels: code quality

#204 Add libdevice bindings for numpy math functions
  rbc/errors.py
  rbc/irtools.py
  rbc/omnisci_backend/__init__.py
  rbc/omnisci_backend/cuda_npyimpl.py
  rbc/omnisci_backend/npy_mathimpl.py
  rbc/omnisci_backend/numpy_ufuncs.py
  rbc/omniscidb.py
  rbc/targetinfo.py
  rbc/tests/test_omnisci.py
  rbc/tests/test_omnisci_math.py
Labels: enhancement, omniscidb

#209 Handle definitions that cannot be run on GPU device.
  rbc/errors.py
  rbc/irtools.py
  rbc/libfuncs.py
  rbc/omnisci_backend/omnisci_array.py
  rbc/omniscidb.py
  rbc/remotejit.py
  rbc/targetinfo.py
  rbc/tests/test_omnisci.py
  rbc/tests/test_omnisci_array.py
  rbc/tests/test_omnisci_array_methods.py
  rbc/tests/test_omnisci_array_operators.py
  rbc/tests/test_omnisci_black_scholes.py
  rbc/tests/test_omnisci_math.py
  rbc/thrift/client.py
  rbc/thrift/server.py
  rbc/utils.py
Labels: code quality, enhancement, omniscidb
