Repository xnd-project/rbc, pull requests merged in 2021-09, with the labels that each got.

#341 Support output column allocation within a table function
  .github/workflows/rbc_test.yml
  doc/api.rst
  rbc/errors.py
  rbc/extension_functions.thrift
  rbc/externals/omniscidb.py
  rbc/externals/stdio.py
  rbc/irtools.py
  rbc/libfuncs.py
  rbc/omnisci_backend/omnisci_buffer.py
  rbc/omnisci_backend/omnisci_column.py
  rbc/omniscidb.py
  rbc/tests/test_omnisci_array.py
  rbc/tests/test_omnisci_array_null.py
  rbc/tests/test_omnisci_column_runtime_alloc.py
Labels: enhancement, omniscidb

#360 Release to PyPI whenever one pushes a new tag
  .github/workflows/pypi.yml
  .github/workflows/pypi_test.yml
Labels: enhancement

#361 Update omniscidb versions in github actions, dropping 5.4 and 5.2.
  .github/workflows/rbc_test.yml
  rbc/omnisci_backend/omnisci_column.py
  rbc/tests/test_omnisci_column_runtime_alloc.py
Labels: omniscidb, tests
