Repository xnd-project/rbc, pull requests merged in 2021-04, with the labels that each got.

#316 Fix testing rbc in CI
  .conda/environment.yml
  .github/workflows/rbc_test.yml
  docker-compose.yml
  rbc/externals/libdevice.py
  rbc/tests/test_ci.py
  rbc/typesystem.py
  rbc/utils.py
  requirements.txt
  setup.py
Labels: high-priority, tests

#315 Implement tests for UDTF compositions
  .github/workflows/rbc_test.yml
  rbc/tests/__init__.py
  rbc/tests/test_omnisci_udtf.py
  rbc/utils.py
Labels: omniscidb, tests

#317 Tests for MLPack support: dbscan, kmeans
  rbc/tests/test_omnisci_mlpack.py
Labels: omniscidb, tests

#320 Add clang++ to conda environment
  .conda/environment.yml
Labels: bug

#321 Remove CircleCI from readme
  README.md
Labels: bug
