Repository xnd-project/rbc, pull requests merged in 2021-08, with the labels that each got.

#350 Speedup cmath tests
  rbc/omniscidb.py
  rbc/tests/test_externals_cmath.py
Labels: tests

#349 Bump omniscidb current development version to 5.8.0; Add omniscidb 5.6 to CI
  .github/workflows/rbc_test.yml
  docker-compose.yml
  rbc/tests/__init__.py
  rbc/tests/test_ci.py
  rbc/tests/test_omnisci_column_arguments.py
  rbc/tests/test_omnisci_column_default.py
Labels: enhancement

#347 Add support for input_id annotation
  .github/workflows/rbc_test.yml
  rbc/extension_functions.thrift
  rbc/omniscidb.py
  rbc/tests/test_omnisci_template.py
  rbc/tests/test_omnisci_text_encoding.py
  rbc/tests/test_typesystem.py
  rbc/typesystem.py
Labels: enhancement, omniscidb

#352 Update supported casting rules
  rbc/tests/test_omnisci.py
Labels: omniscidb, tests

#355 add test for issue gh-109
  rbc/tests/test_omnisci_array.py
Labels: tests

#358 Support omnisci server option --allow-query-step-cpu-retry=1
  rbc/tests/test_omnisci_device_selection.py
Labels: bug, omniscidb, tests

#353 Tests for Numba 0.54.0 RC3
  .conda/environment.yml
  .github/workflows/changelog.yml
  .github/workflows/rbc_test.yml
  rbc/externals/stdio.py
  rbc/irtools.py
  rbc/irutils.py
  rbc/libfuncs.py
  rbc/omnisci_backend/omnisci_buffer.py
  rbc/omnisci_backend/omnisci_column.py
  rbc/structure_type.py
  rbc/tests/test_omnisci_array_methods.py
  rbc/tests/test_omnisci_array_operators.py
  rbc/tests/test_omnisci_template.py
Labels: enhancement, high-priority
